<div class="container bookings dashboard-container active" id="dashboard-container-renter">
  <div class="pending-bookings">
    <% if @my_pending_bookings.length != 0 %>
      <h2>En attente</h2>
    <% end %>
    <% @my_pending_bookings.each do |booking| %>

        <div class="booking-card relative">
          <div class="booking-img">
              <%= cl_image_tag booking.boat.photo.key, height: 200, width: 300, crop: :fill %>
              <div class="booking-avatar pl-2"> <%= cl_image_tag booking.boat.owner.photo.key, crop: :fill, class: "avatar" %> <span class="avatar-label">Proposé par <%= booking.boat.owner.first_name %> </span></div>
          </div>
          <div class="booking-info relative">
            <h3 class="card-boat-infos"><%=booking.boat.title%></h3>
            <h4 class="card-boat-infos"><%=booking.boat.category%> - 📍<%=booking.boat.address%></h4>
            <p class="dates">Du
              <span class="from"><%=booking.start_date.strftime("%d/%m/%y")%></span> au
              <span class="to "><%=booking.end_date.strftime("%d/%m/%y")%></span>
              (<%=(booking.end_date - booking.start_date).to_i %> jours)
            </p>
            <h4 class="card-boat-pricing pt-2"><strong><%= ((booking.end_date - booking.start_date).to_i) * booking.boat.price_per_day %>€</strong><span> (<%=booking.boat.price_per_day%>€ / jour)</span></h4>

          </div>
        </div>

    <% end %>
  </div>

  <div class="confirmed-bookings">
    <% if @my_future_bookings.length != 0 %>
      <h2>Confirmées</h2>
    <% end %>
      <% @my_future_bookings.each do |booking| %>
        <%= link_to renter_booking_path(booking) do %>
          <div class="booking-card relative">
            <div class="booking-img">
                <%= cl_image_tag booking.boat.photo.key, height: 200, width: 300, crop: :fill %>
                <div class="booking-avatar pl-2"> <%= cl_image_tag booking.boat.owner.photo.key, crop: :fill, class: "avatar" %> <span class="avatar-label">Proposé par <%= booking.boat.owner.first_name %> </span></div>
            </div>
            <div class="booking-info relative">
              <h3 class="card-boat-infos"><%=booking.boat.title%></h3>
              <h4 class="card-boat-infos"><%=booking.boat.category%> - 📍<%=booking.boat.address%></h4>
              <p class="dates">Du
                <span class="from"><%=booking.start_date.strftime("%d/%m/%y")%></span> au
                <span class="to "><%=booking.end_date.strftime("%d/%m/%y")%></span>
                (<%=(booking.end_date - booking.start_date).to_i %> jours)
              </p>

              <h4 class="card-boat-pricing pt-2"><%=booking.boat.price_per_day%>€ <span>/ jour</span></h4>
              <p class="status <%= status(booking.booking_status) %>"> <%= icon(booking.booking_status) %> <%= booking.booking_status %></p>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="other-bookings">
    <% if @my_other_bookings.length != 0 %>
      <h2>Passées</h2>
    <% end %>
    <% @my_other_bookings.each do |booking| %>
        <div class="booking-card relative">
          <div class="booking-img">
              <%= cl_image_tag booking.boat.photo.key, height: 200, width: 300, crop: :fill %>
              <div class="booking-avatar pl-2"> <%= cl_image_tag booking.boat.owner.photo.key, crop: :fill, class: "avatar" %> <span class="avatar-label">Proposé par <%= booking.boat.owner.first_name %></span></div>
          </div>
          <div class="booking-info relative">
            <h3 class="card-boat-infos"><%=booking.boat.title%></h3>
            <h4 class="card-boat-infos"><%=booking.boat.category%> - 📍<%=booking.boat.address%></h4>
            <p class="dates">Du
              <span class="from"><%=booking.start_date.strftime("%d/%m/%y")%></span> au
              <span class="to "><%=booking.end_date.strftime("%d/%m/%y")%></span>
              (<%=(booking.end_date - booking.start_date).to_i %> jours)
            </p>

            <h4 class="card-boat-pricing pt-2"><%=booking.boat.price_per_day%>€ <span>/ jour</span></h4>
            <p class="status <%= status(booking.booking_status) %>"> <%= icon(booking.booking_status) %> <%= booking.booking_status %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
