<div class="container" id="dashboard">
  <div class="tabs">
    <button class="tab relative" id="dashboard-btn-renter">
      <% if pending_count[:renter] != 0 %>
        <i class="notif"><%= pending_count[:renter] %></i>
      <% end %>
      Mes locations
    </button>
    <button class="tab relative active" id="dashboard-btn-owner">
      <% if pending_count[:owner] != 0 %>
        <i class="notif"><%= pending_count[:owner] %></i>
      <% end %>
      Mes demandes de réservation
    </button>
    <button class="tab relative" id="dashboard-btn-boats">Mes bateaux</button>
  </div>
  <div id="dashboard-content">
    <%= render partial: "owner_bookings" %>
    <%= render partial: "renter_bookings" %>
    <%= render partial: "my_boats" %>
  </div>
</div>
