<!-- <div class="container">
  <h1>Vos réservations</h1>

  <% @bookings.each do |booking| %>

      <div class="booking card relative">
        <div>
          <h3 class="card-boat-infos"><%=booking.boat.title%></h3>
          <p>
            <h4 class="card-boat-infos"><%=booking.boat.category%> - 📍<%=booking.boat.address%></h4>
            <p class="dates">Du
              <span class="from"><%=booking.start_date.strftime("%d/%m/%Y")%></span> au
              <span class="to "><%=booking.end_date.strftime("%d/%m/%Y")%></span>
            </p>
          </p>
          <div class="booking card resa-img">
            <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
        </div>
        <%= link_to renter_booking_path(booking) do %>
          <p class="owner">Propriétaire du bateau : <%=booking.boat.owner.first_name%></p>
          <p class="status <%= status(booking.booking_status) %>"> <%= icon(booking.booking_status) %> <%= booking.booking_status %></p>

          <div>
            <h2 class="card-boat-pricing pt-2"><%=booking.boat.price_per_day%>€ <span>/ jour</span></h2>
          </div>
          <p class="status">Durée : <%=(booking.end_date - booking.start_date).to_i %> jours</p>
        <% end %>
      </div>

  <% end %>

</div> -->




<div class="container">
  <div class="title-resa-owner">
  <h1>Vos réservations</h1>
  </div>
  <div class=new-div-resa>
  <% @bookings.each do |booking| %>



  <div class="wrapper">
    <div class="product-img">
      <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
                <p class="status <%= status(booking.booking_status) %>"> <%= icon(booking.booking_status) %> <%= booking.booking_status %></p></p>

      <p class="price-renter"><%=booking.boat.price_per_day%>€ / jour</p>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%=booking.boat.title%></h1>
        <h2><%=booking.boat.category%> - 📍<%=booking.boat.address%></h2>
                  <p id="owner-resa">Propriétaire du bateau : <%=booking.boat.owner.first_name%></p>

        <p class="dates">Du
              <span class="from"><%=booking.start_date.strftime("%d/%m/%Y")%></span> au
              <span class="to "><%=booking.end_date.strftime("%d/%m/%Y")%></span>
                      <p class="status-duration">Durée : <%=(booking.end_date - booking.start_date).to_i %> jours</p>

            </p>
        <p><%= link_to renter_booking_path(booking) do %>
      </div>
      <div class="product-price-btn">

      <% end %>
      </div>
    </div>
  </div>
 <% end %>
</div>
</div>
