<div class="show container">

  <h1>Demande de réservation de <%= @booking.renter.first_name %></h1>

  <div class="booking relative">
    <h3><%=@booking.boat.title%></h3>
    <h4><%=@booking.boat.category%> - <%=@booking.boat.address%></h4>
    <p class="dates">Du <span class="from"><%=@booking.start_date.strftime("%d/%m/%Y")%></span> au <span class="to "><%=@booking.end_date.strftime("%d/%m/%Y")%></span></p>
    <p class="status"><%=@booking.booking_status%></p>
    <div class="price top-right"><%= ((@booking.end_date - @booking.start_date).to_i) * @booking.boat.price_per_day %>€</div>

    <% if @booking.booking_status == "En attente" %>
      <%= link_to "Valider", owner_booking_path({:booking_status => "Validée", :id => @booking.id}), method: :patch, :class => "booking-option bottom-right" %> <%= link_to "Refuser", owner_booking_path({:booking_status => "Refusée", :id => @booking.id}), method: :patch, :class => "booking-option bottom-right" %>
    <% elsif @booking.booking_status == "Validée" %>
       <%= link_to "Annuler la réservation", owner_booking_path({:booking_status => "Refusée", :id => @booking.id}), method: :patch, :class => "booking-option bottom-right" %>
    <% else %>
      <%= link_to "Valider", owner_booking_path({:booking_status => "Validée", :id => @booking.id}), method: :patch, :class => "booking-option bottom-right" %>
    <% end %>
  </div>

</div>
