<div class="navbar navbar-expand-sm navbar-light navbar-lewagon w-100">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class = "container logo">
      <i class="fas fa-anchor"></i>
    </div>
  <% end %>
  <%= link_to "Welcome on Boat", root_path, class: "brand-title" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active relative">
          <%= link_to dashboard_index_path, class: "nav-link" do %>
            <span>📬 Mon tableau de bord</span>
            <% if pending_count != 0 %>
              <i class="notif"><%= pending_count %></i>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to "👋 Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
        </li>
      <% else %>
        <li class="nav-item navbar-collapse">
          <%= link_to "Connexion", boats_path, class: "nav-link" %>
          <%= link_to "Inscription", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
