<div class="card-boat">
  <%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-boat-infos">
    <div>
      <h2><%= @boat.title %></h2>
      <p><%= @boat.category %></p>
      <p>📍<%= @boat.address %> |  <%= @boat.owner.first_name %> <%= @boat.owner.last_name %></p>
      <br>
      <p><%= @boat.description.truncate(800) %></p>
    </div>
    <h2 class="card-boat-pricing pt-2">€ <%= @boat.price_per_day %></h2>
    <%= cl_image_tag @boat.owner.photo.key, crop: :fill, class: "avatar card-boat-user avatar-bordered" %>  
  </div>
  <div class="text-center">
    <%= link_to "Je réserve", new_boat_booking_path(@boat), class: "btn btn-flat" %>
  </div>
    <%= link_to 'Back', :back, class: "pl-4" %>
</div>




